<!-- today -->
<div class="forecast__inner" *ngIf="tileType === weatherTileType.TODAY">
  <h4>{{weatherTime}}</h4>
  <div class="row">
    <div class="col-12">
      <div class="forecast__icon">
        <app-weather-tile-icon [iconType]="weatherIconType"></app-weather-tile-icon>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="forecast__temperature">
        <h3>-12{{translations.WEATHER_TEMPERATURE_UNIT}}</h3>
      </div>
      <div class="forecast__description">
        <p>Deszcz ze śniegiem</p>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-flex">
    <div class="offset-2 col-3">
      <svg viewBox="0 0 36 36" class="circular-chart circular-chart--direction">
        <path class="circle circle--grey" stroke-dasharray="7.5,5" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle circle--direction" stroke-dasharray="7.5,92,5" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="45%" text-anchor="middle" alignment-baseline="central">7</text>
        <text class="text" x="50%" y="65%" text-anchor="middle" alignment-baseline="central">{{translations.WEATHER_WIND_SPEED_UNIT}}</text>
      </svg>
      <h6>{{translations.WEATHER_WIND_DIRECTION}}</h6>
    </div>
    <div class="offset-2 col-3">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="50%" text-anchor="middle" alignment-baseline="central">90%</text>
      </svg>
      <h6>{{translations.WEATHER_CLOUD_COVER}}</h6>
    </div>
    <div class="offset-2 col-3">
      <svg viewBox="0 0 36 36" class="circular-chart circular-chart--pressure">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle circle--pressure" stroke-dasharray="75, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="45%" text-anchor="middle" alignment-baseline="central">1020</text>
        <text class="text" x="50%" y="65%" text-anchor="middle" alignment-baseline="central">{{translations.WEATHER_PRESSURE_UNIT}}</text>
      </svg>
      <h6>{{translations.WEATHER_PRESSURE}}</h6>
    </div>
    <div class="offset-2 col-3">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle" stroke-dasharray="81, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="50%" text-anchor="middle" alignment-baseline="central">81%</text>
      </svg>
      <h6>{{translations.WEATHER_HUMIDITY}}</h6>
    </div>
  </div>
  <div class="row d-lg-none">
    <div class="col-12">
      <div class="table-responsive forecast__table">
        <table class="table table-sm table-borderless">
          <tbody class="small">
          <tr>
            <td>{{translations.WEATHER_WIND_SHORT}}</td>
            <td>7{{translations.WEATHER_WIND_SPEED_UNIT}} <i class="material-icons">arrow_right_alt</i></td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_CLOUD_SHORT}}</td>
            <td>90% {{translations.WEATHER_CLOUD_SKY}}</td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_PRESSURE_SHORT}}</td>
            <td>1020 {{translations.WEATHER_PRESSURE_UNIT}}</td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_HUMIDITY_SHORT}}</td>
            <td>81%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- today -->
<!-- night -->
<div class="forecast__inner" *ngIf="tileType === weatherTileType.NIGHT">
  <h4>{{weatherTime}}</h4>
  <div class="row">
    <div class="col-12">
      <div class="forecast__icon">
        <app-weather-tile-icon [iconType]="weatherIconType"></app-weather-tile-icon>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="forecast__temperature">
        <h3>-12{{translations.WEATHER_TEMPERATURE_UNIT}}</h3>
      </div>
      <div class="forecast__description">
        <p>Pochmurno</p>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-flex">
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart circular-chart--direction">
        <path class="circle circle--grey" stroke-dasharray="7.5,5" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle circle--direction" stroke-dasharray="7.5,92,5" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="45%" text-anchor="middle" alignment-baseline="central">7</text>
        <text class="text" x="50%" y="65%" text-anchor="middle" alignment-baseline="central">{{translations.WEATHER_WIND_SPEED_UNIT}}</text>
      </svg>
      <h6>{{translations.WEATHER_WIND_DIRECTION}}</h6>
    </div>
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="50%" text-anchor="middle" alignment-baseline="central">90%</text>
      </svg>
      <h6>{{translations.WEATHER_CLOUD_COVER}}</h6>
    </div>
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart circular-chart--pressure">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle circle--pressure" stroke-dasharray="75, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="45%" text-anchor="middle" alignment-baseline="central">1020</text>
        <text class="text" x="50%" y="65%" text-anchor="middle" alignment-baseline="central">{{translations.WEATHER_PRESSURE_UNIT}}</text>
      </svg>
      <h6>{{translations.WEATHER_PRESSURE}}</h6>
    </div>
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle" stroke-dasharray="81, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="50%" text-anchor="middle" alignment-baseline="central">81%</text>
      </svg>
      <h6>{{translations.WEATHER_HUMIDITY}}</h6>
    </div>
  </div>
  <div class="row d-lg-none">
    <div class="col-12">
      <div class="table-responsive forecast__table">
        <table class="table table-sm table-borderless">
          <tbody class="small">
          <tr>
            <td>{{translations.WEATHER_WIND_SHORT}}</td>
            <td>7{{translations.WEATHER_WIND_SPEED_UNIT}} <i class="material-icons">arrow_right_alt</i></td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_CLOUD_SHORT}}</td>
            <td>90% {{translations.WEATHER_CLOUD_SKY}}</td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_PRESSURE_SHORT}}</td>
            <td>1020 {{translations.WEATHER_PRESSURE_UNIT}}</td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_HUMIDITY_SHORT}}</td>
            <td>81%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- night -->
<!-- tomorrow -->
<div class="forecast__inner" *ngIf="tileType === weatherTileType.TOMORROW">
  <h4>{{weatherTime}}</h4>
  <div class="row">
    <div class="col-12">
      <div class="forecast__icon">
        <div class="icon">
          <app-weather-tile-icon [iconType]="weatherIconType"></app-weather-tile-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="forecast__temperature">
        <h3>-12{{translations.WEATHER_TEMPERATURE_UNIT}}</h3>
      </div>
      <div class="forecast__description">
        <p>Opady śniegu</p>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-flex">
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart circular-chart--direction">
        <path class="circle circle--grey" stroke-dasharray="7.5,5" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle circle--direction" stroke-dasharray="7.5,92,5" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="45%" text-anchor="middle" alignment-baseline="central">7</text>
        <text class="text" x="50%" y="65%" text-anchor="middle" alignment-baseline="central">{{translations.WEATHER_WIND_SPEED_UNIT}}</text>
      </svg>
      <h6>{{translations.WEATHER_WIND_DIRECTION}}</h6>
    </div>
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="50%" text-anchor="middle" alignment-baseline="central">90%</text>
      </svg>
      <h6>{{translations.WEATHER_CLOUD_COVER}}</h6>
    </div>
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart circular-chart--pressure">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle circle--pressure" stroke-dasharray="75, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="45%" text-anchor="middle" alignment-baseline="central">1020</text>
        <text class="text" x="50%" y="65%" text-anchor="middle" alignment-baseline="central">{{translations.WEATHER_PRESSURE_UNIT}}</text>
      </svg>
      <h6>{{translations.WEATHER_PRESSURE}}</h6>
    </div>
    <div class="col-6">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle circle--grey" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle" stroke-dasharray="81, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <text class="text" x="50%" y="50%" text-anchor="middle" alignment-baseline="central">81%</text>
      </svg>
      <h6>{{translations.WEATHER_HUMIDITY}}</h6>
    </div>
  </div>
  <div class="row d-lg-none">
    <div class="col-12">
      <div class="table-responsive forecast__table">
        <table class="table table-sm table-borderless">
          <tbody class="small">
          <tr>
            <td>{{translations.WEATHER_WIND_SHORT}}</td>
            <td>7{{translations.WEATHER_WIND_SPEED_UNIT}} <i class="material-icons">arrow_right_alt</i></td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_CLOUD_SHORT}}</td>
            <td>90% {{translations.WEATHER_CLOUD_SKY}}</td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_PRESSURE_SHORT}}</td>
            <td>1020 {{translations.WEATHER_PRESSURE_UNIT}}</td>
          </tr>
          <tr>
            <td>{{translations.WEATHER_HUMIDITY_SHORT}}</td>
            <td>81%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- tomorrow -->
