<section>
  <h2>TO DO: DEFINE CONTACT VIEW</h2>
</section>
<div class="icon">
  <div class="moon">
  </div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="moon">
  </div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="rain"></div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="lightning">
    <div class="bolt"></div>
    <div class="bolt"></div>
  </div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="cloud"></div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="snow">
    <div class="flake"></div>
    <div class="flake"></div>
  </div>
</div>
<div class="icon">
  <div class="sun">
    <div class="rays"></div>
  </div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="rain"></div>
</div>
<div class="icon">
  <div class="cloud"></div>
  <div class="sun"></div>
</div>
