@import 'assets/styles/general_variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';

section {
  margin-top: 72px;
}

.gmap {
  height: 600px;
  width: 100%;
}
