/* navbar */
$navbar-light-active-color:         $white;
$navbar-light-hover-color:          rgba($white, .9);
$navbar-light-color:                rgba($white, .7);
$navbar-light-disabled-color:       rgba($white, .3);
/* navbar */
